<!DOCTYPE html>
<html>
	<!-- untuk framework angularnya -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"> </script> 
	<!-- untuk framework bootstrapnya -->
	<html lang="en">				
	<head>
	<title> Todo List </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	</head>
	
<body>
<h1> Todo List </h1>

<script>
var app = angular.module("TodoList", []);
app.controller("mytodolist", function($scope) {
	$scope.products = ['x', 'y', 'z'];
		<!-- untuk menambahkan list -->
		$scope.addItem = function() { 
			$scope.products.push ($scope.addMe);
		}
		<!-- untuk menghapus list -->
		$scope.removeItem = function(x) {
			$scope.products.splice(x, 1);
		}
});
</script>

<div ng-app="TodoList" ng-controller="mytodolist">
	<ul> <li ng-repeat="x in products"> {{x}} 	
	<!-- untuk menghapus list -->
	<button type="button" class="btn btn-danger"> <span ng-click="removeItem($index)"> Delete </span> </li> </ul> 
	<!-- untuk menambahkan list -->
	<input ng-model="addMe">
	<button type="button" class="btn btn-success" ng-click="addItem()" > Create </button>
</div>

</body>
</html>
