html, body {
	height: 100%;
	color: black;
	background: white;
}

h1 {
	margin: auto;
}

#main {
	width: 500px;
	margin: 0 auto;
	text-align: left;
}

ul { 	/* untuk tidak menggunakan heading */
	list-style: none;
}

ul>li:hover {
	background-color: white;
}

.form-inline .form-control {
	width: 30%;
	margin-left: 40px;
}

.undone {
	color: black;
}

.icon {
	margin: left;
}
